<!DOCTYPE html>

<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
		
		{% if title %}
			<title>{{ title }} - Flatt Design</title>
		{% else %}
			<title>Flatt Design</title>
		{% endif %}
		
		<!-- Bootstrap Core CSS -->
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		
		<!-- Customizable CSS -->
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" data-skrollr-stylesheet>
		<link href="{{ url_for('static', filename='css/orange.css') }}" rel="stylesheet" title="Color">
		<link href="{{ url_for('static', filename='css/owl.carousel.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/owl.transitions.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
		
		<!-- Fonts -->
		<link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">
		
		<!-- Icons/Glyphs -->
		<link href="{{ url_for('static', filename='fonts/fontello.css') }}" rel="stylesheet">
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
		
		<!-- HTML5 elements and media queries Support for IE8 : HTML5 shim and Respond.js -->
		<!--[if lt IE 9]>
			<script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
			<script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
		<![endif]-->
		{% block cssextra %}
		{% endblock %}
	</head>
	
	<body>
		
		<!-- ============================================================= HEADER ============================================================= -->
		
		<header>
			<div class="navbar">
				
				<div class="navbar-header">
					<div class="container">
						
						<ul class="info pull-left">
							<li><a href="#"><i class="icon-mail-1 contact"></i> temp@needmail.net</a></li>
							<li><i class="icon-mobile contact"></i> (800) 555-TEST</li>
						</ul><!-- /.info -->
						
						<ul class="social pull-right">
							<li><a href="#"><i class="icon-s-facebook"></i></a></li>
							{# <li><a href="#"><i class="icon-s-gplus"></i></a></li> #}
							<li><a href="#"><i class="icon-s-twitter"></i></a></li>
							<li><a href="#"><i class="icon-s-pinterest"></i></a></li>
							{# <li><a href="#"><i class="icon-s-behance"></i></a></li> #}
							{# <li><a href="#"><i class="icon-s-dribbble"></i></a></li> #}
						</ul><!-- /.social -->
						
						<!-- ============================================================= LOGO MOBILE ============================================================= -->
						
						<a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.svg') }}" class="logo" alt=""></a>
						
						<!-- ============================================================= LOGO MOBILE : END ============================================================= -->
						
						<a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>
						
					</div><!-- /.container -->
				</div><!-- /.navbar-header -->
				
				<div class="yamm">
					<div class="navbar-collapse collapse">
						<div class="container">
							
							<!-- ============================================================= LOGO ============================================================= -->
							
							<a class="navbar-brand" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.svg') }}" class="logo" alt=""></a>
							
							<!-- ============================================================= LOGO : END ============================================================= -->
							
							
							<!-- ============================================================= MAIN NAVIGATION ============================================================= -->
							
							<ul class="nav navbar-nav">

								<li>
									<a href="{{ url_for('index') }}">Home</a>
								</li>

								<li class="dropdown">
									<a href="#" class="dropdown-toggle js-activated">About</a>
									
									<ul class="dropdown-menu">
										<li><a href="{{ url_for('services') }}">Our Services</a></li>
										<li><a href="{{ url_for('about') }}">Our Team</a></li>
									</ul><!-- /.dropdown-menu -->
								</li><!-- /.dropdown -->
								
								<li>
									<a href="{{ url_for('blog') }}">Blog</a>
								</li>
								{# <li class="dropdown">
									<a href="#" class="dropdown-toggle js-activated">Portfolio</a>
									
									<ul class="dropdown-menu">
										<li><a href="portfolio.html">3 Columns Grid</a></li>
										<li><a href="portfolio2.html">3 Columns Details Grid</a></li>
										<li><a href="portfolio3.html">4 Columns Grid</a></li>
										<li><a href="portfolio4.html">4 Columns Details Grid</a></li>
										<li><a href="portfolio5.html">Fullscreen Grid</a></li>
										<li><a href="portfolio-post.html">Post with Slider I</a></li>
										<li><a href="portfolio-post2.html">Post with Slider II</a></li>
										<li><a href="portfolio-post3.html">Post with Images I</a></li>
										<li><a href="portfolio-post4.html">Post with Images II</a></li>
										<li><a href="portfolio-post5.html">Post with Video</a></li>
										<li><a href="portfolio-post6.html">Post with Audio</a></li>
									</ul><!-- /.dropdown-menu -->
								</li> #}<!-- /.dropdown -->
								<li>
									<a href="{{ url_for('portfolio') }}">Portfolio</a>
								</li>
								
								
								<!-- ============================================================= MEGA MENU ============================================================= -->
								
								<li class="dropdown yamm-fullwidth">
									<a href="#" class="dropdown-toggle js-activated">Latest</a>
									
									<ul class="dropdown-menu yamm-dropdown-menu">
										<li>
											<div class="yamm-content row">
											
												<div class="col-sm-3 inner">
													<h4>Spotlight</h4>
													<figure>
														<div class="icon-overlay icn-link">
															<a href="portfolio-post.html"><img src="{{ url_for('static', filename='images/art/work01.jpg') }}" alt=""></a>
														</div>
														<figcaption>
															<p>Consed quodips ameniat empernam que apid cust quas molor eatis numa estio.</p>
															<a href="portfolio-post.html" class="btn">View Project</a>
														</figcaption>
													</figure>
												</div><!-- /.col -->
												
												<div class="col-sm-3 inner">
													<h4>Industry News</h4>
													
													<ul class="circled">
														<li><a href="portfolio2.html">3 Columns Details Grid Portfolio</a></li>
														<li><a href="portfolio5.html">Fullscreen Grid Portfolio</a></li>
														<li><a href="portfolio-post5.html">Portfolio Post with Video</a></li>
														<li><a href="blog5.html">2 Columns Grid Blog with Left Sidebar</a></li>
														<li><a href="blog7.html">3 Columns Grid Blog without Sidebar</a></li>
														<li><a href="blog-post.html">Blog Post with Right Sidebar</a></li>
														<li><a href="sidenav.html">Side Navigation Page</a></li>
														<li><a href="about2.html">About Page II</a></li>
														<li><a href="services.html">Service Page I</a></li>
														<li><a href="pricing.html">Pricing Page I</a></li>
														<li><a href="contact.html">Contact Page I</a></li>
													</ul><!-- /.circled -->
												</div><!-- /.col -->
												
												<div class="col-sm-3 inner">
													<h4>Latest Work</h4>
													
													<div class="row thumbs gap-xs">
														
														<div class="col-xs-6 thumb">
															<figure class="icon-overlay icn-link">
																<a href="portfolio-post.html"><img src="{{ url_for('static', filename='images/art/work02.jpg') }}" alt=""></a>
															</figure>
														</div><!-- /.thumb -->
														
														<div class="col-xs-6 thumb">
															<figure class="icon-overlay icn-link">
																<a href="portfolio-post.html"><img src="{{ url_for('static', filename='images/art/work03.jpg') }}" alt=""></a>
															</figure>
														</div><!-- /.thumb -->
														
														<div class="col-xs-6 thumb">
															<figure class="icon-overlay icn-link">
																<a href="portfolio-post.html"><img src="{{ url_for('static', filename='images/art/work04.jpg') }}" alt=""></a>
															</figure>
														</div><!-- /.thumb -->
														
														<div class="col-xs-6 thumb">
															<figure class="icon-overlay icn-link">
																<a href="portfolio-post.html"><img src="{{ url_for('static', filename='images/art/work05.jpg') }}" alt=""></a>
															</figure>
														</div><!-- /.thumb -->
														
														<div class="col-xs-6 thumb">
															<figure class="icon-overlay icn-link">
																<a href="portfolio-post.html"><img src="{{ url_for('static', filename='images/art/work06.jpg') }}" alt=""></a>
															</figure>
														</div><!-- /.thumb -->
														
														<div class="col-xs-6 thumb">
															<figure class="icon-overlay icn-link">
																<a href="portfolio-post.html"><img src="{{ url_for('static', filename='images/art/work07.jpg') }}" alt=""></a>
															</figure>
														</div><!-- /.thumb -->
														
													</div><!-- /.row -->
												</div><!-- /.col -->
												
												<div class="col-sm-3 inner">
													<h4>About Us</h4>
													<p>Voluptat ibusaped molorporro consequ idustibus. Reressi morum ut dolessiti tem nihicid ernatum, coria volore non pro officat ut autem accaborem conet. Omnis peribus qui dolent praeperrum coria.</p>
													<p>Equam conesti occum dolorest, quae venderes quistius, comnitatur sae dinam nonseculpa cum fugit is verciam.</p>
													<a href="{{ url_for('about') }}" class="btn">Read More</a>
												</div><!-- /.col -->
												
											</div><!-- /.yamm-content -->
										</li>
									</ul><!-- /.yamm-dropdown-menu -->
								</li><!-- /.yamm-fullwidth -->
								
								<!-- ============================================================= MEGA MENU : END ============================================================= -->
								
								{# <li class="dropdown">
									<a href="#" class="dropdown-toggle js-activated">Contact</a>
									
									<ul class="dropdown-menu">
										<li><a href="contact.html">Contact I</a></li>
										<li><a href="contact2.html">Contact II</a></li>
										<li><a href="contact3.html">Contact III</a></li>
									</ul><!-- /.dropdown-menu -->
								</li> #}<!-- /.dropdown -->
								<li>
									<a href="{{ url_for('contact') }}">Contact</a>
								</li>
								<li class="dropdown pull-right searchbox">
									<a href="#" class="dropdown-toggle js-activated"><i class="icon-search"></i></a>
											  
									<div class="dropdown-menu">
										<form id="search" class="navbar-form search" role="search">
											<input type="search" class="form-control" placeholder="Type to search">
											<button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
										</form>
									</div><!-- /.dropdown-menu -->
								</li><!-- /.searchbox -->
								
							</ul><!-- /.nav -->
							
							<!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->
							
						</div><!-- /.container -->
					</div><!-- /.navbar-collapse -->
				</div><!-- /.yamm -->
			</div><!-- /.navbar -->
		</header>
		
		<!-- ============================================================= HEADER : END ============================================================= -->
		
		
		<!-- ============================================================= MAIN ============================================================= -->
		
		{% block content %}
		{% endblock %}
		
		<!-- ============================================================= MAIN : END ============================================================= -->
		
		
		<!-- ============================================================= FOOTER ============================================================= -->
		
		<footer class="dark-bg">
			<div class="container inner">
				<div class="row">
					
					<div class="col-md-3 col-sm-6 inner">
						<h4>Who we are</h4>
						<a href="{{ url_for('index') }}"><img class="logo img-intext" src="{{ url_for('static', filename='images/logo-white.svg') }}" alt=""></a>
						<p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
						<a href="{{ url_for('about') }}" class="txt-btn">More about us</a>
					</div><!-- /.col -->
					
					<div class="col-md-3 col-sm-6 inner">
						<h4>Latest works</h4>
						
						<div class="row thumbs gap-xs">
														
							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="portfolio-post.html"><img src="{{ url_for('static', filename='images/art/work02.jpg') }}" alt=""></a>
								</figure>
							</div><!-- /.thumb -->
							
							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="portfolio-post.html"><img src="{{ url_for('static', filename='images/art/work03.jpg') }}" alt=""></a>
								</figure>
							</div><!-- /.thumb -->
							
							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="portfolio-post.html"><img src="{{ url_for('static', filename='images/art/work07.jpg') }}" alt=""></a>
								</figure>
							</div><!-- /.thumb -->
							
							<div class="col-xs-6 thumb">
								<figure class="icon-overlay icn-link">
									<a href="portfolio-post.html"><img src="{{ url_for('static', filename='images/art/work01.jpg') }}" alt=""></a>
								</figure>
							</div><!-- /.thumb -->
							
						</div><!-- /.row -->
					</div><!-- /.col -->
					
					
					<div class="col-md-3 col-sm-6 inner">
						<h4>Get In Touch</h4>
						<p>Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.</p>
						<ul class="contacts">
							<li><i class="icon-location contact"></i> 84 Street, City, State 24813</li>
							<li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
							<li><a href="#"><i class="icon-mail-1 contact"></i> info@reen.com</a></li>
						</ul><!-- /.contacts -->
					</div><!-- /.col -->
					
					<div class="col-md-3 col-sm-6 inner">
						<h4>Free updates</h4>
						<p>Conecus iure posae volor remped modis aut lor volor accabora incim resto explabo.</p>
						<form id="newsletter" class="form-inline newsletter" role="form">
							<label class="sr-only" for="exampleInputEmail">Email address</label>
							<input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter your email address">
							<button type="submit" class="btn btn-default btn-submit">Subscribe</button>
						</form>
					</div><!-- /.col -->
					
				</div><!-- /.row --> 
			</div><!-- .container -->
		  
			<div class="footer-bottom">
				<div class="container inner">
					<p class="pull-left">© 2016 REEN. All rights reserved.</p>
					<ul class="footer-menu pull-right">
						<li><a href="{{ url_for('index') }}">Home</a></li>
						<li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
						<li><a href="{{ url_for('blog') }}">Blog</a></li>
						<li><a href="{{ url_for('about') }}">About</a></li>
						<li><a href="{{ url_for('services') }}">Services</a></li>
						<li><a href="{{ url_for('contact') }}">Contact</a></li>
					</ul><!-- .footer-menu -->
				</div><!-- .container -->
			</div><!-- .footer-bottom -->
		</footer>
		
		<!-- ============================================================= FOOTER : END ============================================================= -->
		
		<!-- JavaScripts placed at the end of the document so the pages load faster -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.easing.1.3.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.form.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap-hover-dropdown.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skrollr.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skrollr.stylesheets.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/waypoints-sticky.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.easytabs.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/google.maps.api.v3.js') }}"></script>
		<script src="{{ url_for('static', filename='js/viewport-units-buggyfill.js') }}"></script>
		<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

		<!-- For demo purposes – can be removed on production -->
		
		<!-- For demo purposes – can be removed on production : End -->
		
		{% block jsextra %}{% endblock %}
	</body>
</html>