{% extends "public/base.html" %}

{% block cssextra %}
{% endblock %}

{% block content %}

<main>
	
	<!-- ============================================================= SECTION – HERO ============================================================= -->

	<section id="hero" class="light-bg img-bg-bottom img-bg-softer" style="background-image: url({{ url_for('static', filename='images/art/slider03.jpg') }});">
		<div class="container inner">
			
			<div class="row">
				<div class="col-md-8 col-sm-9">
					<header>
						<h1>Services</h1>
						<p>Magnis modipsae que voloratati andigen daepeditem quiate aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam.</p>
					</header>
				</div><!-- /.col -->
			</div><!-- ./row -->
			
		</div><!-- /.container -->
	</section>
	
	<!-- ============================================================= SECTION – HERO : END ============================================================= -->
	
	<!-- ============================================================= SECTION – SERVICES ============================================================= -->
	
	<section id="services">
		<div class="container inner">
			<div class="row">
				<div class="col-xs-12">
					<div class="tabs tabs-services tabs-circle-top tab-container">
						
						<ul class="etabs text-center">
							<li class="tab"><a href="#tab-1"><div><i class="icon-lamp"></i></div>Strategy</a></li>
							<li class="tab"><a href="#tab-2"><div><i class="icon-flow-tree"></i></div>UX</a></li>
							<li class="tab"><a href="#tab-3"><div><i class="icon-beaker"></i></div>Design</a></li>
							<li class="tab"><a href="#tab-4"><div><i class="icon-code"></i></div>Technology</a></li>
							<li class="tab"><a href="#tab-5"><div><i class="icon-thumbs-up-1"></i></div>Social</a></li>
							<li class="tab"><a href="#tab-6"><div><i class="icon-megaphone-1"></i></div>Marketing</a></li>
						</ul><!-- /.etabs -->
						
						<div class="panel-container">
							
							<div class="tab-content" id="tab-1">
								<div class="row">
									
									<div class="col-md-5 col-md-offset-1 col-sm-6 inner-right-xs">
										<figure><img src="{{ url_for('static', filename='images/art/product05.jpg') }}" alt=""></figure>
									</div><!-- /.col -->
									
									<div class="col-md-5 col-sm-6 inner-top-xs inner-left-xs">
										<h3>Strategy</h3>
										<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
									</div><!-- /.col -->
									
								</div><!-- /.row -->
							</div><!-- /.tab-content -->
							
							<div class="tab-content" id="tab-2">
								<div class="row">
									
									<div class="col-md-5 col-md-push-5 col-md-offset-1 col-sm-6 col-sm-push-6 inner-left-xs">
										<figure><img src="{{ url_for('static', filename='images/art/product01.jpg') }}" alt=""></figure>
									</div><!-- /.col -->
									
									<div class="col-md-5 col-md-pull-5 col-sm-6 col-sm-pull-6 inner-top-xs inner-right-xs">
										<h3>User Experience</h3>
										<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque quiae sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
									</div><!-- /.col -->
									
								</div><!-- /.row -->
							</div><!-- /.tab-content -->
							
							<div class="tab-content" id="tab-3">
								<div class="row">
									
									<div class="col-md-4 col-md-push-3 col-md-offset-1 col-sm-6 inner-left-xs inner-right-xs">
										<figure><img src="{{ url_for('static', filename='images/art/product06.jpg') }}" alt=""></figure>
									</div><!-- /.col -->
									
									<div class="col-md-3 col-md-pull-4 col-sm-6 inner-top-xs">
										<h3>Design</h3>
										<p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>
									</div><!-- /.col -->
									
									<div class="col-md-3 col-sm-6 inner-top-xs">
										<h3>User interface</h3>
										<p>Magnis modipsae lib voloratati andigen daepedor quiate aut labor. Laceaque quiae sitiorem resti est lore tumquam core posae volor uso remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent it accullignis orum lomnus.</p>
									</div><!-- /.col -->
									
								</div><!-- /.row -->
							</div><!-- /.tab-content -->
							
							<div class="tab-content" id="tab-4">
								<div class="row">
									<div class="col-md-8 col-sm-9 center-block text-center">
										<h3>Technology</h3>
										<p>Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni aut labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum tibusam emnis et consent accullignis.</p>
									</div><!-- /.col -->
								</div><!-- /.row -->
							</div><!-- /.tab-content -->
							
							<div class="tab-content" id="tab-5">
								
								<div class="row">
									<div class="col-md-5 col-sm-6 col-xs-8 center-block text-center">
										<figure><img src="{{ url_for('static', filename='images/art/product03.jpg') }}" alt=""></figure>
									</div><!-- /.col -->
								</div><!-- /.row -->
								
								<div class="row">
									<div class="col-sm-8 center-block text-center inner-top-xs">
										<h3>Social</h3>
										<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
									</div><!-- /.col -->
								</div><!-- /.row -->
								
							</div><!-- /.tab-content -->
							
							<div class="tab-content" id="tab-6">
								
								<div class="row">
									<div class="col-sm-8 center-block text-center">
										<h3>Marketing</h3>
										<p>Magnis modipsae que lib voloratati andigen daepedor quiate ut reporemni aut labor. Laceaque sitiorem ut restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta orem retibusam emnis et consent accullignis lomnus.</p>
									</div><!-- /.col -->
								</div><!-- /.row -->
								
								<div class="row">
									<div class="col-md-5 col-sm-6 col-xs-8 inner-top-xs center-block text-center">
										<figure><img src="{{ url_for('static', filename='images/art/humans01.jpg') }}" alt=""></figure>
									</div><!-- /.col -->
								</div><!-- /.row -->
								
							</div><!-- /.tab-content -->
							 
						</div><!-- /.panel-container -->
						 
					</div><!-- /.tabs -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
	
	<!-- ============================================================= SECTION – SERVICES : END ============================================================= -->
	
	
	<!-- ============================================================= SECTION – WORK SAMPLES ============================================================= -->
	
	<section id="work-samples" class="dark-bg">
		<div class="container inner">
			
			<div class="row">
				<div class="col-md-8 col-sm-9 center-block text-center">
					<header>
						<h1>Work samples</h1>
						<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
					</header>
				</div><!-- /.col -->
			</div><!-- /.row -->
			
			<div class="row">
				<div class="col-sm-12 center-block inner-top-sm">
					<div class="video-container">
						<iframe src="http://player.vimeo.com/video/87360639?title=0&amp;byline=0&amp;portrait=0&amp;color=000000" width="1170" height="658" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
				</div><!-- /.col -->
			</div><!-- /.row -->
			
			<div class="row inner-top-xs">
				<div class="col-sm-12">
					<div id="accordion" class="panel-group blank">
						<div class="panel panel-default">			  
							
							<div class="panel-heading text-center">
								<h4 class="panel-title">
									<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#content">
										<span>More sample videos</span>
									</a>
								</h4>
							</div><!-- /.panel-heading -->
							
							<div id="content" class="panel-collapse collapse">
								<div class="panel-body">
									<div id="owl-videos" class="owl-carousel owl-item-gap-sm">
										
										<div class="item">
											<a href="services.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Vintage Bicycles</h4>
															<p>Interactive</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="{{ url_for('static', filename='images/art/work03.jpg') }}" alt="">
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="services.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Simpli Nota</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="{{ url_for('static', filename='images/art/work04.jpg') }}" alt="">
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="services.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Vinyl Records</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="{{ url_for('static', filename='images/art/work07.jpg') }}" alt="">
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="services.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Astor &amp; Yancy</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="{{ url_for('static', filename='images/art/work09.jpg') }}" alt="">
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="services.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Signwall</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="{{ url_for('static', filename='images/art/work16.jpg') }}" alt="">
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="services.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Tri Fold Brochure</h4>
															<p>Print</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="{{ url_for('static', filename='images/art/work10.jpg') }}" alt="">
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="services.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>Embroidered</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="{{ url_for('static', filename='images/art/work05a.jpg') }}" alt="">
												</figure>
											</a>
										</div><!-- /.item -->
										
										<div class="item">
											<a href="services.html">
												<figure>
													<figcaption class="text-overlay">
														<div class="info">
															<h4>El Corcho</h4>
															<p>Identity</p>
														</div><!-- /.info -->
													</figcaption>
													<img src="{{ url_for('static', filename='images/art/work12.jpg') }}" alt="">
												</figure>
											</a>
										</div><!-- /.item -->
										
									</div><!-- /.owl-carousel -->
								</div><!-- /.panel-body -->
							</div><!-- /.content -->
							
						</div><!-- /.panel -->
					</div><!-- /.accordion -->
				</div><!-- /.col -->
			</div><!-- /.row -->
			
		</div><!-- /.container -->
		
	</section>
	
	<!-- ============================================================= SECTION – WORK SAMPLES : END ============================================================= -->
	
	
	<!-- ============================================================= SECTION – CLIENTS ============================================================= -->

	<section id="clients">
		<div class="container inner">
			
			<div class="row">
				<div class="col-md-8 col-sm-9 center-block text-center">
					<header>
						<h1>Clients</h1>
						<p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes.</p>
					</header>
				</div><!-- /.col -->
			</div><!-- /.row -->
			
			<div class="row inner-top-sm">
				<div class="col-sm-12">
					<div id="owl-clients" class="owl-carousel owl-outer-nav">
						
						<div class="item">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Client</h4>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/client01.jpg') }}" alt="">
								</figure>
						</div><!-- /.item -->
						
						<div class="item">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Client</h4>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/client02.jpg') }}" alt="">
								</figure>
						</div><!-- /.item -->
						
						<div class="item">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Client</h4>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/client03.jpg') }}" alt="">
								</figure>
						</div><!-- /.item -->
						
						<div class="item">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Client</h4>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/client04.jpg') }}" alt="">
								</figure>
						</div><!-- /.item -->
						
						<div class="item">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Client</h4>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/client05.jpg') }}" alt="">
								</figure>
						</div><!-- /.item -->
						
						<div class="item">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Client</h4>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/client06.jpg') }}" alt="">
								</figure>
						</div><!-- /.item -->
						
						<div class="item">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Client</h4>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/client07.jpg') }}" alt="">
								</figure>
						</div><!-- /.item -->
						
						<div class="item">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Client</h4>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/client08.jpg') }}" alt="">
								</figure>
						</div><!-- /.item -->
						
						<div class="item">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Client</h4>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/client09.jpg') }}" alt="">
								</figure>
						</div><!-- /.item -->
						
						<div class="item">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Client</h4>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/client10.jpg') }}" alt="">
								</figure>
						</div><!-- /.item -->
						
						<div class="item">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Client</h4>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/client11.jpg') }}" alt="">
								</figure>
						</div><!-- /.item -->
						
						<div class="item">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Client</h4>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/client12.jpg') }}" alt="">
								</figure>
						</div><!-- /.item -->
						
					</div><!-- /.owl-carousel -->
				</div><!-- /.col -->
			</div><!-- /.row -->
			
		</div><!-- /.container -->
	</section>
	
	<!-- ============================================================= SECTION – CLIENTS : END ============================================================= -->
	
	
	<!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->
	
	<section id="get-in-touch" class="light-bg">
		<div class="container inner-sm">
			<div class="row">
				<div class="col-sm-10 center-block text-center">
					<h1 class="single-block">Want to work with us? <a href="contact.html" class="btn btn-large">Get in touch</a></h1>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
	
	<!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->
	
</main>

{% endblock %}

{% block jsextra %}
{% endblock %}