{% extends "base.html" %}

{% block cssextra %}
{% endblock %}

{% block content %}
	<main>
		
		<!-- ============================================================= SECTION – HERO ============================================================= -->
		
		<section id="hero">
			<div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">
				
				<div class="item" style="background-image: url({{ url_for('static', filename='images/art/slider01.jpg') }});">
					<div class="container">
						<div class="caption vertical-center text-center">
							
							<h1 class="fadeInDown-1 light-color">Made for You</h1>
							<p class="fadeInDown-2 medium-color">Create your online portfolio in minutes with the professionally and lovingly designed REEN website template. Customize your site with versatile and easy to use features.</p>
							<div class="fadeInDown-3">
								<a href="#" class="btn btn-large">Get started now</a>
							</div><!-- /.fadeIn -->
							
						</div><!-- /.caption -->
					</div><!-- /.container -->
				</div><!-- /.item -->
				
				<div class="item" style="background-image: url({{ url_for('static', filename='images/art/slider02.jpg') }});">
					<div class="container">
						<div class="caption vertical-center text-right">
							
							<h1 class="fadeInLeft-1 light-color">Fresh and <br>beautiful design</h1>
							<p class="fadeInLeft-2 light-color">REEN is designed to showcase your talent and put your work in the forefront. <br>Professionally use of typography and layout that fits your content.</p>
							<div class="fadeInLeft-3">
								<a href="#" class="btn btn-large">Get started now</a>
							</div><!-- /.fadeIn -->
							
						</div><!-- /.caption -->
					</div><!-- /.container -->
				</div><!-- /.item -->
				
				<div class="item" style="background-image: url({{ url_for('static', filename='images/art/slider03.jpg') }});">
					<div class="container">
						<div class="caption vertical-center text-left">
							
							<h1 class="fadeInRight-1 dark-bg light-color"><span>Clean and <br>reusable code</span></h1>
							<p class="fadeInRight-2 dark-color">The clean code allows you to easily copy code blocks from content <br>modules and past them in different places or layouts.</p>
							<div class="fadeInRight-3">
								<a href="#" class="btn btn-large">Get started now</a>
							</div><!-- /.fadeIn -->
							
						</div><!-- /.caption -->
					</div><!-- /.container -->
				</div><!-- /.item -->
				
				<div class="item" style="background-image: url({{ url_for('static', filename='images/art/slider04.jpg') }});">
					<div class="container">
						<div class="caption vertical-top text-right">
							
							<h1 class="fadeIn-1 dark-bg light-color"><span>Just focus on <br>your creativity</span></h1>
							<p class="fadeIn-2 light-color">Take a break from messing around with heavy coding and spend <br>your time brainstorming ideas for your next project.</p>
							<div class="fadeIn-3">
								<a href="#" class="btn btn-large">Get started now</a>
							</div><!-- /.fadeIn -->
							
						</div><!-- /.caption -->
					</div><!-- /.container -->
				</div><!-- /.item -->
				
				<div class="item" style="background-image: url({{ url_for('static', filename='images/art/slider05.jpg') }});">
					<div class="container">
						<div class="caption vertical-top text-center">
							
							<h1 class="fadeInDown-1 light-color">Showcase <br>your content</h1>
							<p class="fadeInDown-2 medium-color">With REEN you have the possibility to create websites for various <br>contents quickly and easily. Now it's up to you!</p>
							<div class="fadeInDown-3">
								<a href="#" class="btn btn-large">Get started now</a>
							</div><!-- /.fadeIn -->
							
						</div><!-- /.caption -->
					</div><!-- /.container -->
				</div><!-- /.item -->
				
			</div><!-- /.owl-carousel -->
		</section>
		
		<!-- ============================================================= SECTION – HERO : END ============================================================= -->
		
		
		<!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->
		
		<section id="who-we-are">
			<div class="container inner-top inner-bottom-sm">
				
				<div class="row">
					<div class="col-md-8 col-sm-9 center-block text-center">
						<header>
							<h1>Beautiful. Clean. Responsive.</h1>
							<p>REEN is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.</p>
						</header>
					</div><!-- /.col -->
				</div><!-- /.row -->
			
				<div class="row inner-top-sm">
					
					<div class="col-md-1">
						<div class="icon pull-right">
							<i class="icon-heart-empty-1 icn"></i>
						</div><!-- /.icon -->
					</div><!-- /.col -->
					
					<div class="col-md-3 inner-bottom-xs">
						<h2>Passion</h2>
						<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
					</div><!-- /.col -->
					
					<div class="col-md-1">
						<div class="icon pull-right">
							<i class="icon-lamp icn"></i>
						</div><!-- /.icon -->
					</div><!-- /.col -->
				
					<div class="col-md-3 inner-bottom-xs">
						<h2>Creativity</h2>
						<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
					</div><!-- /.col -->
					
					<div class="col-md-1">
						<div class="icon pull-right">
							<i class="icon-star-empty-1 icn"></i>
						</div><!-- /.icon -->
					</div><!-- /.col -->
				
					<div class="col-md-3 inner-bottom-xs">
						<h2>Quality</h2>
						<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
					</div><!-- /.col -->
					
				</div><!-- /.row -->
			
			</div><!-- /.container -->
		</section>
		
		<!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->
		
		
		<!-- ============================================================= SECTION – LATEST WORKS ============================================================= -->
	
		<section id="latest-works" class="light-bg">
			<div class="container inner">
				
				<div class="row">
					<div class="col-md-8 col-sm-9 center-block text-center">
						<header>
							<h1>Check out our latest works</h1>
							<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.</p>
						</header>
					</div><!-- /.col -->
				</div><!-- /.row -->
			 
				<div class="row">
					
					<div class="col-sm-6 inner-top-sm">
						<figure>
						
							<div class="icon-overlay icn-link">
								<a href="portfolio-post.html"><img src="{{ url_for('static', filename='images/art/work02.jpg') }}" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h3><a href="portfolio-post.html">Grand Motel gets an identity brushup</a></h3>
									<p>Identity</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.col -->
					
					<div class="col-sm-6 inner-top-sm">
						<figure>
						
							<div class="icon-overlay icn-link">
								<a href="portfolio-post.html"><img src="{{ url_for('static', filename='images/art/work08.jpg') }}" alt=""></a>
							</div><!-- /.icon-overlay -->
							
							<figcaption class="bordered no-top-border">
								<div class="info">
									<h3><a href="portfolio-post.html">Fresh branding for a creative startup</a></h3>
									<p>Identity</p>
								</div><!-- /.info -->
							</figcaption>
							
						</figure>
					</div><!-- /.col -->
					
				</div><!-- /.row -->
				
				<div class="row inner-top-sm">
					<div id="owl-latest-works" class="owl-carousel owl-item-gap">
						
						<div class="item">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Vintage Bicycles</h4>
											<p>Interactive</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/work03.jpg') }}" alt="">
								</figure>
							</a>
						</div><!-- /.item -->
						
						<div class="item">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Simpli Nota</h4>
											<p>Identity</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/work04.jpg') }}" alt="">
								</figure>
							</a>
						</div><!-- /.item -->
						
						<div class="item">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Vinyl Records</h4>
											<p>Identity</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/work07.jpg') }}" alt="">
								</figure>
							</a>
						</div><!-- /.item -->
						
						<div class="item">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Astor &amp; Yancy</h4>
											<p>Identity</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/work09.jpg') }}" alt="">
								</figure>
							</a>
						</div><!-- /.item -->
						
						<div class="item">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Signwall</h4>
											<p>Identity</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/work16.jpg') }}" alt="">
								</figure>
							</a>
						</div><!-- /.item -->
						
						<div class="item">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Tri Fold Brochure</h4>
											<p>Print</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/work10.jpg') }}" alt="">
								</figure>
							</a>
						</div><!-- /.item -->
						
						<div class="item">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>Embroidered</h4>
											<p>Identity</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/work05a.jpg') }}" alt="">
								</figure>
							</a>
						</div><!-- /.item -->
						
						<div class="item">
							<a href="portfolio-post.html">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4>El Corcho</h4>
											<p>Identity</p>
										</div><!-- /.info -->
									</figcaption>
									<img src="{{ url_for('static', filename='images/art/work12.jpg') }}" alt="">
								</figure>
							</a>
						</div><!-- /.item -->
						
					</div><!-- /.owl-carousel -->
				</div><!-- /.row -->
				
			</div><!-- /.container -->
		</section>
		
		<!-- ============================================================= SECTION – LATEST WORKS : END ============================================================= -->
		
		
		<!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->
		
		<section id="get-in-touch">
			<div class="container inner">
				<div class="row">
					<div class="col-md-8 col-sm-9 center-block text-center">
						<header>
							<h1>Want to work with us?</h1>
							<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
						</header>
						<a href="contact.html" class="btn btn-large">Get in touch</a>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section>
		
		<!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->
		
	</main>
{% endblock %}

{% block jsextra %}
{% endblock %}